.load_btn {
    display: block;
    margin: 0 auto 8px auto;

    font-size: medium;

    background-color: var(--light-blue);
    color: var(--blue);
    border: solid 1px var(--blue);
    border-radius: 2px;
    padding: 8px 12px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load_btn:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--alice-blue);
}